.footerClean {
    padding: 5vh 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footerClean h3 {
    margin-bottom: 1.2vh;
    font-size: 2.9vh;
}

.footerClean ul {
    list-style: none;
    line-height: 1.6;
    font-size: 2.4vh;
    
}

.footerClean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footerClean ul a:hover {
    opacity: 1;
}

.justifyContentCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30vh;
}

.itemSocial a img {
    width: 4vh;
    height: 4vh;
    margin: 1vh;
    margin-top: 5vh;
    opacity: 0.75;
}

.itemSocial a:hover {
    opacity: 0.9;
}

.copyright {
    margin-top: 2vh;
    font-size: 1.5vh;
    opacity: 0.6;
}