.card {
    margin: 10vh;
    padding: 2vh;
    border-radius: 8px;
    border: 1px solid #F7B32B;
    color: #FCF6B1;
}

.card a {
    text-decoration: none;
}


.card a  div {
    color: #FCF6B1;
}

.cardTitulo{
    color: #FCF6B1;
    padding: 1vh 0 5vh 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}