.label {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    color: #fff;
}

.inputbordas {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;
}

.inputbordas:focus {
    border-color:#333;
    outline: none;          
}

.textarea {
    resize: none !important;
}

.inputbordas~.focusborder:before,
.inputbordas~.focusborder:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #E3170A;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.inputbordas~.focusborder:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}

.inputbordas~.focusborder i:before,
.inputbordas~.focusborder i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #E3170A;
    transition: 0.2s;
}

.inputbordas~.focusborder i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}

.inputbordas:focus~.focusborder:before,
.inputbordas:focus~.focusborder:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.inputbordas:focus~.focusborder:after {
    transition-delay: 0.2s;
}

.inputbordas:focus~.focusborder i:before,
.inputbordas:focus~.focusborder i:after {
    height: 100%;
    transition: 0.2s;
}

.inputbordas:focus~.focusborder i:after {
    transition-delay: 0.4s;
}